* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(251, 223, 187);
}
header {
  border: 5px solid #ffffff;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  background-color: rgb(255, 170, 58);
  padding: 20px;
  margin-bottom: 20px;
}

footer {
  border: 2px solid #ffffff;
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(255, 176, 72);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.bottom-button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: right;
}

.main-button {
    padding: 10px 20px;
    background-color: #ffea0094;
    color: #070707;
    text-decoration: none;
    border-radius: 5px;
    text-align: right;
}

p {
    color: rgb(34, 148, 255);
    margin-top: 20px;
}

.form-user-buy {
    text-align: left;
    font-size: 15px;
}
